<h1>Login page</h1>

<%= error_message %>

<form action="/sessions" method="POST">
    <input type="text" name="email">
    <input type="password" name="password">
    <button>Login</button>


</form>